doctype xml
doctype html

-
	var attr_html = {
		manifest: 'app.manifest'
	};

	var attr_script = {
		type: 'application/javascript',
		src: 'scripts.min.js'
	};

	if (dev) {
		attr_script['src'] = 'lib/require.js';
		attr_script['data-main'] = 'require-config.js';
		delete attr_html['manifest'];
	}

html&attributes(attr_html)

	head

		meta(name="viewport", content="width=device-width, initial-scale=1, user-scalable=no")

		title Crucible LARP Manager

		script&attributes(attr_script)

		link(rel="stylesheet" href="styles.min.css")

	body(wrap-layout)
		div(ui-view)
