<div id="news-panel" class="panel panel-default">

	<div class="panel-heading">
		<h2>News</h2>
	</div>

	<div class="panel-body">
		<div class="row">

			<div class="col-xs-12" ng-hide="stories && stories.length">
				<p>No news is good news.</p>
			</div>

			<div class="news-item"
			     ng-repeat="story in stories"
			     ng-if="stories && stories.length"
			     ng-class="{ 'col-lg-3 col-md-4 col-sm-6 collapsed': !story.selected, 'col-xs-12': story.selected }">

				<div class="panel panel-info" data-collapsed ng-click="toggle($event, story)">

					<div class="panel-heading">
						<strong ng-bind="story.title"></strong>
					</div>

					<div class="panel-body">
						<p ng-bind="story.content"></p>
					</div>

				</div>

			</div>

		</div>
	</div>

</div>
