language: node_js

node_js:
  - "0.10"

jdk:
  - oraclejdk7 # Needed for neo4j

env:
  global:
    - NEO4J_VERSION="2.1.7"

before_install:
  - wget dist.neo4j.org/neo4j-community-$NEO4J_VERSION-unix.tar.gz
  - tar -xzf neo4j-community-$NEO4J_VERSION-unix.tar.gz
  - echo org.neo4j.server.database.location=src/test/dump > neo4j-community-$NEO4J_VERSION/conf/neo4j-server.properties
  - neo4j-community-$NEO4J_VERSION/bin/neo4j start

after_success:
  - neo4j-community-$NEO4J_VERSION/bin/neo4j stop
  - gulp manifest

before_deploy:
  - rm -rf src/test

deploy:
  provider: heroku
  app: crucible-animus
  skip-cleanup: true
  api_key:
    secure: LmQALYSleSoQTSy7af52VUMbFTdYEbimrERy9yYXl6IU1uLUh7oN8m37NGu+lS7MFvoZrSst0UlYp3YabaugEDrPmyMOXJAl/pBdd6Gge+i+7PRN4UDBH6D4kY7KxqMZ9gngqMAGHjHvKwERJ1j/wZH1JzZoiW273tl3BfwzUgQ=
  on:
    repo: cruciblelarp/animus
    branch: master
