[project]
	description = A management utility for the NZ Crucible LARP.
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Peter Cummuskey (Tzrlk)
[access "refs/for/refs/*"]
	read = group user/Peter Cummuskey (Tzrlk)
	push = group user/Peter Cummuskey (Tzrlk)
	label-Code-Review = -2..+2 group user/Peter Cummuskey (Tzrlk)
	label-Verified = -1..+1 group user/Peter Cummuskey (Tzrlk)
	rebase = group user/Peter Cummuskey (Tzrlk)
	removeReviewer = group user/Peter Cummuskey (Tzrlk)
	submit = group user/Peter Cummuskey (Tzrlk)
[access "refs/heads/*"]
	read = group user/Peter Cummuskey (Tzrlk)
	create = group user/Peter Cummuskey (Tzrlk)
	push = +force group user/Peter Cummuskey (Tzrlk)
	pushMerge = group user/Peter Cummuskey (Tzrlk)
[access "refs/tags/*"]
	push = +force group user/Peter Cummuskey (Tzrlk)
	pushTag = group user/Peter Cummuskey (Tzrlk)
	pushSignedTag = group user/Peter Cummuskey (Tzrlk)
