doctype html
html

	head
		title Crucible LARP Manager

		script(src='lib/require.js', data-main='require-config.js')
		link(rel='stylesheet', href='styles.min.css')

	body(data-wrap-layout)

		div(data-ui-view)
