<div id="wrap-layout">

	<div id="header">
		<div class="navbar navbar-default">
			<div class="container">
				<div class="navbar-brand">Animus</div>
			</div>
		</div>
	</div>

	<div id="body" class="row">

		<div id="nav-left" class="col-md-2">
			<ul class="nav nav-stacked">
				<li ui-sref-active="active"><a ui-sref="admin">Administration</a></li>
				<li ui-sref-active="active"><a ui-sref="account">Account</a></li>
			</ul>
		</div>

		<div class="col-md-8">
			<div ng-transclude></div>
		</div>

		<div id="nav-right" class="col-md-2">
			<ul class="nav nav-stacked">
				<!-- TODO: Put contextual actions here. -->
			</ul>
		</div>

	</div>

	<div class="footer">
		<div class="navbar"></div>
	</div>

</div>
