<div id="account-details" class="row">
	<div class="col-xs-12">

		<form id="account-details-form" class="form form-horizontal"
		      ng-submit="submit($event)" ng-reset="reset($event)">

			<div class="form-group"
			     ng-class="{ 'has-warning': user.email !== original.email  }">

				<label for="email" class="control-label col-sm-3">Email</label>

				<div class="col-sm-9">
					<input id="email" name="email" type="email" class="form-control"
					       ng-model="user.email"/>
				</div>

			</div>

			<div class="form-group"
			     ng-class="{ 'has-warning': user.name !== original.name  }">

				<label for="name" class="control-label col-sm-3">Name</label>

				<div class="col-sm-9">
					<input id="name" name="name" type="text" class="form-control"
					       ng-model="user.name"/>
				</div>

			</div>

			<div class="form-group"
			     ng-class="{ 'has-warning': user.token !== original.token  }">

				<label for="token" class="control-label col-sm-3">Token</label>

				<div class="col-sm-9">
					<input id="token" name="token" type="text" class="form-control"
					       ng-model="user.token"/>
				</div>

			</div>

			<div class="form-group"
			     ng-class="{ 'has-warning': user._id !== original._id  }">

				<label for="_id" class="control-label col-sm-3">_id</label>

				<div class="col-sm-9">
					<input id="_id" name="_id" type="text" class="form-control"
					       ng-model="user._id"/>
				</div>

			</div>

			<div class="form-group"
			     ng-class="{ 'has-warning': user.userId !== original.userId  }">

				<label for="userId" class="control-label col-sm-3">UserId</label>

				<div class="col-sm-9">
					<input id="userId" name="userId" type="text" class="form-control"
					       ng-model="user.userId"/>
				</div>

			</div>

			<div class="form-group">

				<div class="col-sm-12 clearfix">
					<div class="pull-right">

						<button type="reset" class="btn btn-warning"
						        ng-click="reset($event)">Reset</button>

						<button type="submit" class="btn btn-primary">Submit</button>

					</div>
				</div>

			</div>

		</form>

	</div>
</div>
