<div id="admin-ability-detail" class="row">

	<div class="col-xs-12">
		<div class="panel">

			<div class="panel-heading"></div>

			<div class="panel-content">
				<form name="form" class="form-horizontal">

					<div class="form-group">

						<label for="name" class="control-label col-sm-3">Name</label>

						<div class="col-sm-9">
							<input id="name" name="name" type="text" class="form-control"
							       ng-model="editing.name"/>
						</div>

					</div>

					<div class="form-group">

						<label for="player" class="control-label col-sm-3">Player</label>

						<div class="col-sm-9">
							<input id="player" name="player" type="text" class="form-control"
							       ng-model="editing.player"/>
						</div>

					</div>

					<div class="form-group">

						<label for="concept" class="control-label col-sm-3">Concept</label>

						<div class="col-sm-9">
							<input id="concept" name="concept" type="text" class="form-control"
							       ng-model="editing.concept"/>
						</div>

					</div>

					<div class="form-group">

						<label for="class" class="control-label col-sm-3">Class</label>

						<div class="col-sm-9">
							<input id="class" name="class" type="text" class="form-control"
							       ng-model="editing.class"/>
						</div>

					</div>

					<div class="form-group">

						<label class="control-label col-sm-3">Power</label>

						<div class="radio col-sm-9">

							<label for="power_1">
								<input type="radio" name="power" id="power_1" value="1"
								       ng-model="editing.power"/>
								<span>1</span>
							</label>

							<label for="power_2">
								<input type="radio" name="power" id="power_2" value="2"
								       ng-model="editing.power"/>
								<span>2</span>
							</label>

							<label for="power_3">
								<input type="radio" name="power" id="power_3" value="3"
								       ng-model="editing.power"/>
								<span>3</span>
							</label>

							<label for="power_4">
								<input type="radio" name="power" id="power_4" value="4"
								       ng-model="editing.power"/>
								<span>4</span>
							</label>

							<label for="power_5">
								<input type="radio" name="power" id="power_5" value="5"
								       ng-model="editing.power"/>
								<span>5</span>
							</label>

						</div>

					</div>

					<div class="form-group">

						<label class="control-label col-sm-3">Tough</label>

						<div class="radio col-sm-9">

							<label for="tough_1">
								<input type="radio" name="tough" id="tough_1" value="1"
								       ng-model="editing.tough"/>
								<span>1</span>
							</label>

							<label for="tough_2">
								<input type="radio" name="tough" id="tough_2" value="2"
								       ng-model="editing.tough"/>
								<span>2</span>
							</label>

							<label for="tough_3">
								<input type="radio" name="tough" id="tough_3" value="3"
								       ng-model="editing.tough"/>
								<span>3</span>
							</label>

							<label for="tough_4">
								<input type="radio" name="tough" id="tough_4" value="4"
								       ng-model="editing.tough"/>
								<span>4</span>
							</label>

							<label for="tough_5">
								<input type="radio" name="tough" id="tough_5" value="5"
								       ng-model="editing.tough"/>
								<span>5</span>
							</label>

						</div>

					</div>

					<div class="form-group">

						<label class="control-label col-sm-3">Finesse</label>

						<div class="radio col-sm-9">

							<label for="finesse_1">
								<input type="radio" name="finesse" id="finesse_1" value="1"
								       ng-model="editing.finesse"/>
								<span>1</span>
							</label>

							<label for="finesse_2">
								<input type="radio" name="finesse" id="finesse_2" value="2"
								       ng-model="editing.finesse"/>
								<span>2</span>
							</label>

							<label for="finesse_3">
								<input type="radio" name="finesse" id="finesse_3" value="3"
								       ng-model="editing.finesse"/>
								<span>3</span>
							</label>

							<label for="finesse_4">
								<input type="radio" name="finesse" id="finesse_4" value="4"
								       ng-model="editing.finesse"/>
								<span>4</span>
							</label>

							<label for="finesse_5">
								<input type="radio" name="finesse" id="finesse_5" value="5"
								       ng-model="editing.finesse"/>
								<span>5</span>
							</label>

						</div>

					</div>

					<div class="form-group">

						<label class="control-label col-sm-3">Wits</label>

						<div class="radio col-sm-9">

							<label for="wits_1">
								<input type="radio" name="wits" id="wits_1" value="1"
								       ng-model="editing.wits"/>
								<span>1</span>
							</label>

							<label for="wits_2">
								<input type="radio" name="wits" id="wits_2" value="2"
								       ng-model="editing.wits"/>
								<span>2</span>
							</label>

							<label for="wits_3">
								<input type="radio" name="wits" id="wits_3" value="3"
								       ng-model="editing.wits"/>
								<span>3</span>
							</label>

							<label for="wits_4">
								<input type="radio" name="wits" id="wits_4" value="4"
								       ng-model="editing.wits"/>
								<span>4</span>
							</label>

							<label for="wits_5">
								<input type="radio" name="wits" id="wits_5" value="5"
								       ng-model="editing.wits"/>
								<span>5</span>
							</label>

						</div>

					</div>

					<div class="form-group">

						<label class="control-label col-sm-3">Will</label>

						<div class="radio col-sm-9">

							<label for="will_1">
								<input type="radio" name="will" id="will_1" value="1"
								       ng-model="editing.will"/>
								<span>1</span>
							</label>

							<label for="will_2">
								<input type="radio" name="will" id="will_2" value="2"
								       ng-model="editing.will"/>
								<span>2</span>
							</label>

							<label for="will_3">
								<input type="radio" name="will" id="will_3" value="3"
								       ng-model="editing.will"/>
								<span>3</span>
							</label>

							<label for="will_4">
								<input type="radio" name="will" id="will_4" value="4"
								       ng-model="editing.will"/>
								<span>4</span>
							</label>

							<label for="will_5">
								<input type="radio" name="will" id="will_5" value="5"
								       ng-model="editing.will"/>
								<span>5</span>
							</label>

						</div>

					</div>

					<div class="form-group">

						<label for="abilities" class="control-label col-sm-3">Abilities</label>

						<div class="col-sm-9">
							<textarea id="abilities" name="abilities" class="form-control"
							          ng-model="editing.abilities"></textarea>
						</div>

					</div>

					<div class="form-group">

						<label for="background" class="control-label col-sm-3">Background</label>

						<div class="col-sm-9">
							<textarea id="background" name="crunch" class="form-control"
							          ng-model="editing.background"></textarea>
						</div>

					</div>

					<div class="form-group">

						<label for="misc" class="control-label col-sm-3">Misc</label>

						<div class="col-sm-9">
							<textarea id="misc" name="crunch" class="form-control"
							          ng-model="editing.misc"></textarea>
						</div>

					</div>

				</form>
			</div>

			<div class="panel-footer clearfix">

				<div class="pull-right">

					<button class="btn btn-warning"
					        ng-click="reset()">Reset</button>

					<button class="btn btn-success"
							ng-click="save()">Save</button>

				</div>

			</div>

		</div>
	</div>

</div>
