doctype html
html

	head

		title Crucible LARP Manager

		if scripts
			each item in scripts
				script(type='text/javascript', src=item)
		else
			script(type='text/javascript', src='/lib/require.js', data-main='/require-config.js')

		script(type = 'text/javascript').
			document.addEventListener('DOMContentLoaded', function() {
				require([ 'angular-bootstrap' ]);
			});

		link(rel='stylesheet', href='styles.css')

	body(wrap-layout)
		div(ui-view)
