doctype html
html

	head

		title Crucible LARP Manager

		each item in scripts
			script(type='text/javascript', src=item)

		script(type = 'text/javascript').
			document.addEventListener('DOMContentLoaded', function() {
				require([ 'angular-bootstrap' ]);
			});

		link(rel='stylesheet', href='styles.css')

	body(wrap-layout)
		div(ui-view)
