<div id="admin-characters" class="row">

	<div class="col-sm-4">
		<ul class="list-group">

			<li class="list-group-item"
			    ng-repeat="character in characters"
			    ui-sref="admin.characters.detail({ character: character._id })"
			    ui-sref-active="list-group-item-active"
			    ng-class="{ 'list-group-item-info': character.shadow }">

				<p class="list-group-item-heading">
					<strong ng-bind="character.name"></strong>
				</p>

				<div class="visible-xs" ng-if="character.$active">
					<div ui-view></div>
				</div>

			</li>

		</ul>

	</div>

	<div class="col-sm-8 hidden-xs">
		<div ui-view></div>
	</div>

</div>
