<div id="login-panel" class="login-template panel panel-default">
	<div class="row">
		
		<div class="col-md-5">
			<input id="username" name="username" type="text"
			       placeholder="username" ng-model="username" />
		</div>

		<div class="col-md-5">
			<input id="password" name="password" type="password"
			       placeholder="password" ng-model="password" />
		</div>

		<div class="col-md-2">
			<input id="login" name="login" type="submit"
			       value="Go" ng-click="login($event)" />
		</div>

	</div>
</div>
